@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

header{
		background-color: #11111b;
		display: flex;
		justify-content: space-evenly;
		padding: 2vh;
}
body{
    background-color: #181825;
    color: #cdd6f4;
    font-family: 'Lexend Deca',sans-serif;
    font-size: 1.25em;
}
img{
	border-radius: 8px;
}
footer > p{
	font-size: .75em;
	opacity: 75%;
}
.ui{
    background-color: #1e1e2e;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    overflow-wrap: break-word;
    width: 70vw;
    border: 2px solid #cba6f7;
    border-radius: 16px;
    padding: 24px;
}
@media (min-width:320px) and (max-width:767px) {
    .ui{
        width: 310px;
    }
		.ui > img{
			max-width: 90%;
			max-height: 90%;
		}
}
@media (min-width:768px) {
		.ui > img{
			max-width: 50%;
			max-height: 20%;
	}
}
.title{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding: 12px;
    height: fit-content;
    align-items: center;
    justify-content: space-evenly;
}
.blogprev{
		display: flex;
		flex-wrap: wrap;
		padding: 8px;
		align-items: center;
}
.blogprev > img{
		height: 30px;
		width: 30px;
		margin-right: 20px;
}
.blogorder{
		display: flex;
		flex-direction: column-reverse;
}
.socialicon{
    max-width: 75px;
    height: 30px;
    padding: 16px;
    transition: .125s;
    opacity: 65%;
}
.imglink{
	display: none;
}
a{
	color: #cdd6f4;
	transition: .075s;
	text-decoration-line: none;
	opacity: 65%;
}
a,div{
	opacity: 100%;
}
a:hover{
	color: #cba6f7;
	opacity: 100%;
}
a:hover .imglink{
	display: block;
	position: absolute;
	margin: auto;
	z-index: 10;
	font-size: .5em;
}
a:hover .socialicon{
	opacity: 100%;
}
#socials{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5vh;
    text-align: center;
}
#cool{
	text-align: center;
}