@font-face{
  font-family: Lexend;
  src: url(content/Lexend-Regular.ttf);
}
@font-face{
  font-family: LexendExa;
  src: url(content/LexendExa-Regular.ttf);
}

body{
    padding: 1em;
    background-color: #1d1d1d;
    color: #d5d5d5;
    font-family: Lexend, sans-serif;
}
h1{
  font-family: Lexend, sans-serif;
}
h3{
    font-family: LexendExa;
    font-size: 28px;

}
h2{
    font-family: LexendExa;
    font-size: 32px;
    font-style: bold;
    color: #d5d5ff;
    border: #d5d5d5 1px solid;
    border-radius: 10px;
    padding: 20px;
}
footer{
    margin-top: 100px;
    text-align: center;
}
.tw{
    border: #d5d5d5 1px solid;
    border-radius: 10px;
    padding: 16px;
    width: 200px;
    height: 50px;
    float: left;
    margin-right: 1%;
    margin-bottom: 2%;
    overflow: hidden;
    transition: all 0.12s;
    text-align: left;
}
.tw>p{
  color: #d5d5d5;
}
a{
    color: #e87bff;
}
li{
    padding-top: 12px;
    margin-left: -20px;
}
.box{
    border: #d5d5d5 1px solid;
    border-radius: 4px;
    width: 85%;
    padding: 16px;
    overflow: scroll;
    margin-top: 12px;
    text-align: left;
}
.box:hover{
  box-shadow: 0px 0px 10px #d5d5d5;
}
.tw:hover{
  height: 200px;
}
img{
  filter: invert(83%);
  border-radius: 4px;
}
.exc{
  filter: invert(0%);
}
td, th{
  border: 1px solid #d5d5d5;
  padding: 12px;
  font-size: small;
}
.ric:hover{
  content: Rick Roll;
}