@font-face{
  font-family: Lexend;
  src: url(content/Lexend-Regular.ttf);
}
@font-face{
  font-family: LexendExa;
  src: url(content/LexendExa-Regular.ttf);
}

body{
    padding: 0.75em;
    background-color: #1d1d1d;
    color: #d5d5d5;
    font-family: Lexend, sans-serif;
}
h1{
  font-family: Lexend, sans-serif;
  text-align: center;
  font-size: 1.25em;
}
h3{
    font-family: LexendExa;
    font-size: 1em;
}
h2{
    font-family: LexendExa;
    font-size: 32px;
    font-style: bold;
    color: #d5d5ff;
    border: #d5d5d5 1px solid;
    border-radius: 10px;
    padding: 20px;
}
footer{
    margin-top: 100px;
    text-align: center;
}
a{
	color: #fff;
	text-decoration-line: none;
	transition: .2s;
}
a:hover{
	color: #d599d5;
	text-decoration-line: solid;
}
.col{
	color: #d599d5;
}
li{
    margin-top: 12px;
}
div{
	overflow-wrap: anywhere;
}
#fi{
	float: left;
}
@media (min-width: 320px) and (max-width: 767px) {
	.main{
		width: 340px;
	}
	li{
		margin-left: 20px;
	}
}
@media (min-width: 768px)
{
	.main{
		width: 80%;
	}
	li{
		margin-left: 40vh;
	}
}
.main{
    border: #d5d5d5 1px solid;
    border-radius: 4px;
    padding: 12px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.social-list{
	display: flex;
  justify-content: center;
  flex-wrap: wrap;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}
.socmed{
		border: #d5d5d5 1px solid;
    border-radius: 32px;
    width: 142px;
    height: 8em;
    padding: 2px;
    padding-top: 30px;
    margin: 6px;
    transition: .5s;
    font-size: 1em;
}
.socmed:hover{
	border-radius: 4px;
}
.box:hover{
  box-shadow: 0px 0px 10px #d5d5d5;
}
img{
  border-radius: 4px;
}
.logo{
	margin-top: 4em;
}
#mstdn{
background: rgb(85,0,170);
background: -webkit-linear-gradient(bottom right, rgba(85,0,170,1) 0%, rgba(170,0,255,1) 100%);
background: -moz-linear-gradient(bottom right, rgba(85,0,170,1) 0%, rgba(170,0,255,1) 100%);
background: -o-linear-gradient(bottom right, rgba(85,0,170,1) 0%, rgba(170,0,255,1) 100%);
background: linear-gradient(to top left, rgba(85,0,170,1) 0%, rgba(170,0,255,1) 100%);
color: #fff
}
#mstdn:hover{
	box-shadow: 0px 0px 1em #aa00ff;
}
#ig{
	background: rgb(131,58,180);
background: linear-gradient(135deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
color: #fff;
}
#ig:hover{
	box-shadow: 0px 0px 1em #fd1d1d;
}
